@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-mode {
  background-color: #ffffff;
  color: #000;
}

/* Dark Mode */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* .hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #dff9f2;
} */

/* rgb(240, 246, 255) */

/* #000000c2 */
